
body {
  margin-left: 20px;
  font-size: 15px;
  font-family: FunctionPro, Helvetica, Arial, TazuganeGothic, sans-serif;
  font-weight: 300;
}
h1 {
   color:rgb(179,31,63);
   font-size: 40px;
   text-transform: uppercase;
   border-width: 100%;
   border-top: 5px solid rgb(179,31,63);
   border-bottom: 5px solid rgb(179,31,63);
 }
 .barra {
   display: inline-table;
   font-weight: bold;
   text-transform: uppercase;
   margin-top:5px
}
 .barra a {
   color:rgb(179,31,63);
 }
h2 {
  color:rgb(179,31,63);
  font-size: 30px;
  text-transform: uppercase;
  border-top: 5px solid rgb(246,212,214);
  border-bottom: 5px solid rgb(246,212,214);
}
li {
  color:rgb(246,212,214);
}
.contatti a {
  color:rgb(179,31,63);
}
p {
  margin-left: 20px;
}
