body {
  background-color: #ffd3ad;
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  color: white;
  text-decoration: none;
  text-align: center;
}
.header{
  width:100vw;
  height:23vh;
}
.header{
  background-image: url(header.png);

}
.titoletto {
  color:#ff6107;
  font-size:15px;
  text-transform:uppercase;
  text-align: center;
  font-family: 'Abril Fatface';
  margin-top: 10px;
}
.about_me{
  width:100vw;
  height:40vh;
  text-align: center;
}
.curriculum{
  width:100vw;
  height:40vh;
  position:relative;
}
.contacts{
  width:100vw;
  height:20vh;
  background-image: url(header.png);
}

h1 {
   color: #e9290f;
   font-size: 70px;
   text-transform: uppercase;
   font-family: 'Abril Fatface';
   padding-top:0%;
   margin-top: 20px;
  }

  h1::before {
    display: inline-block;
    position: relative;
    top: 20px;
    content: "";
    width: 90px;
    height: 100px;
    margin: -20px 20px 5px 0;
    background: url(fiore_logo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    opacity:1;
}
h1::after {
    display: inline-block;
    position: relative;
    top: 20px;
    content: "";
    width: 90px;
    height: 100px;
    margin: -20px 0 5px 20px;
    background: url(fiore_logo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    opacity:1;
}


.bar {
  color:white;
  font-size:16px;
  line-height: 2em;
  border: 1px solid #e9290f;
  background-color: #e9290f;
  width: 100vw;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-family: 'Abril Fatface';
  position:sticky;
  top:0%;
}

.bar li {
  display: inline;
  text-align: center;
  padding: 10px 20px 10px 20px;
  list-style: none;
  list-style-type:none;
  text-decoration:none;
  color: white;
}

.bar a:hover{
  border-bottom: 3px solid #ff6107;
}

h2 {
  color:#e9290f;
  font-size: 30px;
  text-transform: uppercase;
  width: auto;
  font-family: 'Abril Fatface';
  margin-top: 0;
  padding-top: 20px;
  margin-bottom:1em;
}

a{
  text-decoration: none;
}

a:visited{
  color:inherit;
}

.contatti{
  line-height: 2em;
  text-decoration:none;
  text-align: center;
}

ul .contatti{
list-style: none;
}

.contatti a {
  color:white;
  text-transform: uppercase;
  text-align:center;
}

.contatti a:hover{
  border-bottom: 3px solid #ff6107;
}

p{
  line-height:1em;
}
